# git ignore file
Microcontroller/AutomaTilesMain/AutomaTilesMain/Debug/**
Microcontroller/AutomaTilesMain/AutomaTilesMain/Release/**
Microcontroller/AutomaTilesMain/AutomaTilesMain.atsuo

# webstorm
.idea/
