* {
    /*margin: 0px;*/
    font-family: sans-serif;
}

button {
    width: 30%;
    padding: 3em;
    margin: 0px;
    border-radius: 20px;
    border: 0px;
}

ul {
    list-style-type: none;
    padding: 0px;
}

li {
    margin: 2px;
    padding: 10px;
    border-radius: 20px;
    background: #eee;
    text-align: center;
}