*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	background: #ffffff;
}

#two {
	z-index: 0;
}

#about {
	visibility: visible;
	z-index: 101;
	position: relative;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	padding: 20px;
	background: rgba(0,0,0,0.9);
	color: white;
	border-radius: 5px;
}

#about h1 {
	margin-top: 20px;
}

#about h2 {
	line-height: 1.5em;
}

#about h3 {
	line-height: 1.5em;
}

#about p {
	margin-top: 20px;
	font-weight: lighter;
	font-size: 0.9em;
	line-height: 1.5em;
}

#about ul {
	list-style: none;
}

#about li {
	font-weight: lighter;
	line-height: 1.5em;
	padding: 4px 0;
}

#about a:link, a:visited, a:hover, a:active{
	text-decoration: none;
	color: white;
	font-weight: 800;
}

#closeButton {
	display: inline-block;
	border-radius: 0;
	border: 1px solid white;
	margin-top: 20px;
	padding: 10px;
	color: white;
	background: rgba(0,0,0,0);
}

#showAboutButton {
	display: inline-block;
	border-radius: 0;
	border: 0;
	padding: 10px;
	color: white;
	background: rgba(0,0,0,0);	
}

.subtext {
	font-size: .8em;
}

#medialab {
	padding: 20px 0;
}

.left-half {
	display: inline-block;
	width: 40%;
	margin-left: 5%;
}

.right-half {
	display: inline-block;
	width: 40%;
	margin-left: 10%;
}

#ruleset {
	z-index: 100;
	position: fixed;
	top: 20px;
	left: 20px;
	padding: 10px;
	border-radius: 5px;
	background: rgba(0,0,0,0.9);
	color: #ffffff;
}

#ruleset ul {
	list-style: none;
	padding: 5px 0 5px 0;
}

#ruleset li {
	display: inline;
}

.rule_title {
	color: #ffffff;
	font-size: .8em;
	display: block;
	float: left;
	width: 75px;
	/*text-align: right;*/
}

.boxes {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	margin: 2px;
}

#buttons {
	visibility: hidden;
	z-index: 1;
	clear: both;
	position: fixed;
	top: 20px;
	left: 20px;
}

button {
	border-style: none;
	background-color: rgba(0, 0, 0, .8);
	color: rgb(221, 201, 133);
	font-size: 1.2em;
	padding: 10px;
	border-radius: 10px;
}

#export {
	z-index: 1;
	clear: both;
	position: fixed;
	bottom: 20px;
	right: 20px;
}

#export a{
	text-decoration: none;
	background-color: rgba(0, 0, 0, .8);
	color: rgb(255, 255, 255);
	font-size: 1.2em;
	padding: 6px 10px;
	border-radius: 10px;
	font-weight: 100;
}
