*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

#two {
	z-index: 0;
}

#ruleset {
	z-index: 100;
	position: fixed;
	top: 20px;
	left: 20px;
	padding: 10px;
	border-radius: 5px;
	background: rgba(0,0,0,0.9);
	color: #ffffff;
}

#ruleset ul {
	list-style: none;
	padding: 5px 0 5px 0;
}

#ruleset li {
	display: inline;
}

.rule_title {
	color: #ffffff;
	font-size: .8em;
	display: block;
	float: left;
	width: 75px;
	/*text-align: right;*/
}

.boxes {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	margin: 2px;
}

#buttons {
	visibility: hidden;
	z-index: 1;
	clear: both;
	position: fixed;
	top: 20px;
	left: 20px;
}

button {
	border-style: none;
	background-color: rgba(0, 0, 0, .8);
	color: rgb(221, 201, 133);
	font-size: 1.2em;
	padding: 10px;
	border-radius: 10px;
}

#export {
	z-index: 1;
	clear: both;
	position: fixed;
	bottom: 20px;
	right: 20px;
}

#export a{
	text-decoration: none;
	background-color: rgba(0, 0, 0, .8);
	color: rgb(255, 255, 255);
	font-size: 1.2em;
	padding: 6px 10px;
	border-radius: 10px;
	font-weight: 100;
}
